<!DOCTYPE html>
<html>
<head>
    <title>Customer Register</title>
    <link rel="stylesheet" href="/static/customer_register.css">
</head>

<body>

<div class="container">

    <h2>Customer Registration</h2>

    <form method="POST">

        <div class="input-group">
            <input type="text" name="name" placeholder=" " required>
            <label>Name</label>
        </div>

        <div class="input-group">
            <input type="text" name="location" placeholder=" " required>
            <label>Location</label>
        </div>

        <div class="input-group">
            <input type="text" name="contact" placeholder=" " required>
            <label>Contact</label>
        </div>

        <div class="input-group">
            <input type="password" name="password" placeholder=" " required>
            <label>Password</label>
        </div>

        <button type="submit">Register</button>

    </form>

</div>

<div class="copyright">
    © 2026 FixIt | Built by 
    <a href="#" target="_blank">Harsh Asnani</a>
</div>

</body>
</html>