<!DOCTYPE html>
<html>
<head>
   <title>Registration Successful</title>
<link rel="stylesheet" href="/static/register_success.css">
</head>

<body>

<div class="container">

<!-- Animated Tick -->
<div class="success-checkmark">
  <div class="check-icon">
    <span class="icon-line line-tip"></span>
    <span class="icon-line line-long"></span>
    <div class="icon-circle"></div>
    <div class="icon-fix"></div>
  </div>
</div>

<h2>Registration Successful</h2>

<p>You have registered successfully.</p>
<p>Please return and login to continue.</p>

<a href="/serviceman_login">
<button>Go to Login</button>
</a>

</div>


<script id="x7qz9m">
setTimeout(function(){
    window.location.href = "/serviceman_login";
}, 4000); // total 4 seconds delay
</script>
</body>
</html>